Source: xtrans
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: David Nusinow <dnusinow@debian.org>, Branden Robinson <branden@debian.org>, Fabio M. Di Nitto <fabbione@fabbione.net>
Build-Depends-Indep: debhelper (>= 4.0.0)
Standards-Version: 3.6.1.0

Package: xtrans-dev
Architecture: all
Pre-Depends: x11-common (>= 0.99)
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: X transport library (development files)
 xtrans includes a number of routines to make X implementations
 transport-independent; at time of writing, it includes support for UNIX
 sockets, IPv4, IPv6, and DECnet.
 .
 xtrans is not actually a library in itself; it includes .c files which are
 then used in the compilation of X servers, libraries, et al.
 .
 More information about X.Org can be found at:
 <URL:http://xorg.freedesktop.org>
 <URL:http://lists.freedesktop.org/mailman/listinfo/xorg>
 .
 This module can be found as the module 'lib/xtrans' at
 :pserver:anoncvs@cvs.freedesktop.org:/cvs/xorg
